html {
    min-height: 100%;
    position: relative;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
    background-color: #F0F0F0;
    max-width: 1116px;
    min-width: 1116px;
    color: #222222;
}

footer {
    max-width: 1116px;
    position: absolute;
    height: 56px;
    width: 100%;
    bottom: 0;
}

.header {
    margin-top: 12px;
    margin-bottom: 26px;
    text-align: center;
}

.header-image {
    margin-left: -16px;
    margin-right: 26px;
}

.header-text {
    font-size: 350%;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    margin-top: 4px;
}

.footer-text-left {
    float: left;
    margin-left: 8px;
    margin-top: -7px;
}

.footer-text-right {
    float: right;
    margin-right: 8px;
    margin-top: -7px;
}

.panel {
    display: inline-block;
}

#trait-panel {
    min-width: 680px;
    margin-right: 32px;
}

.panel-header {
    padding-top: 6px;
    padding-left: 8px;
    padding-bottom: 2px;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.panel-title {
    margin-left: 2px;
    background-colora: pink;
    display: inline-block;
    font-weight: bold;
    font-size: 150%;
}

.trait-buttons {
    right: 4px;
    margin-top: -6px;
    position: absolute;
    display: inline-block;
    background-colora: yellow;
}

.trait-button {
    width: 140px;
    height: 34px;
    padding: 4px 0;
    margin-left: 4px;
}

.trait-row {
    padding: 8px;
    border-top-style: solid;
    border-top-width: 1px;
}

.row1 {
    padding-top: 10px;
    border-top-style: none;
}

.trait-box {
    padding: 8px 6px;
    margin-left: 20px;
    display: inline-block;
    background-color: #222222;
    border-radius: 5px;
}

.box1 {
    margin-left: 0;
}

.trait-icon {
    width: 38px;
    height: 44px;
    display: inline-block;
    margin-bottom: -6px;
    margin-right: 4px;
    margin-left: 4px;
}

.tooltip-unlock {
    margin-top: -4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999999;
}

.tooltip-map {
    margin-top: 2px;
    margin-right: 5px;
    margin-bottom: -4px;
    font-weight: bold;
    text-align: right;
}

#map-panel {
    vertical-align: top;
}

.map-list {
    width: 388px;
    height: 248px;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.map-ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 6px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

.map-item:link      { color: #E9E9E9; }
.map-item:visited   { color: #E9E9E9; }
.map-item           {
    display: block;
    margin-top: 10px;
    margin-left:6px;
    margin-right: 6px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #CC2222;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
}

.item1:link     { color: #FFFFFF; }
.item1:visited  { color: #FFFFFF; }
.item1          {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 8px;
}

.item2:link     { color: #F9F9F9; }
.item2:visited  { color: #F9F9F9; }
.item2          {
    font-size: 124%;
    padding-top: 6px;
    padding-bottom: 5px;
}

.item3:link     { color: #F3F3F3; }
.item3:visited  { color: #F3F3F3; }
.item3          {
    font-size: 112%;
}

.map-item:hover {
    color: #FFFFFF;
    background-color: #DD4444;
}

.map-item:focus {
    color: #FFFFFF;
    background-color: #DD4444;
}

.map-item:active {
    color: #FFFFFF;
    background-color: #AA1111;
}

.map-config {
    padding-top: 10px;
    padding-left: 6px;
    padding-bottom: 5px;
    position: relative;
}

#level-filter {
    margin-left: 10px;
}

.type-config {
    margin-top: 1px;
}

.type-config-left {
    display: inline-block;
    background-colora: orange;
}

.type-config-right {
    margin-right: 20px;
    display: inline-block;
    background-coloar: yellow;
    position: absolute;
    right: 0;
}