html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0px 100px;
    margin: 0px 0px 60px;
}

footer {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.header {
    margin-top: 12px;
    margin-bottom: 18px;
    background-color:#0CF;
}

.header-image {
    width: 120px;
    height: 120px;
    margin-left: 4px;
    display: inline-block;
    background-color: red;
}

.header-text {
    font-size: 280%;
    margin-left: 4px;
    margin-bottom: 12px;
    vertical-align: bottom;
    background-color: pink;
    display: inline-block;
}

.footer {
    padding: 0 100px;
}

.footer-text {
    text-align: center;
    margin-top: -5px;
}

.content {
    background-color: #CCCCCC;
}

.trait-panel {
    background-color: #FFCCCC;
    display: inline-block;
}

.trait-row {
    margin: 8px 0px;
}

.trait-box {
    margin: 0px 8px;
    padding: 6px 4px;
    background-color: #CC6600;
    display: inline-block;
}

.trait-icon {
    width: 38px;
    height: 44px; 
    margin: 0px 4px;
    display: inline-block;
}

.map-panel {
    padding: 4px;
    margin-left: 8px;
    background-color: #CCCCFF;
    display: inline-block;
    vertical-align: top;
}

.map-list {
    width: 360px;
    height: 231px;
    background-colora: white;
    margin-bottom: 4px;
    overflow: auto;
}

.map-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.map-item {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
    background-color: #CCC;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 5px;
}

.map-item1 {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-width: 1px;
    border-color: #393;
    border-style: solid;
    background-color: #BF8;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 5px;
    font-size: 135%;
}

.map-item2 {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-width: 1px;
    border-color: #363;
    border-style: solid;
    background-color: #CEA;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 5px;
    font-size: 120%;
}

.map-item3 {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #363;
    background-color: #CDB;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 5px;
    font-size: 108%;
}

.map-config {
    position: relative;
    background-colora: #C66;
}

.type-config-left {
    display: inline-block;
    background-colora: orange;
}

.type-config-right {
    margin-right: 12px;
    display: inline-block;
    background-coloar: yellow;
    position: absolute;
    right: 0;
}

.container {
    clear: left;
}

.trait-panel2 {
    background-color: #FFCCCC;
    display: inline-block;
}

.trait-box2 {
    margin: 0px 8px;
    padding: 6px 4px;
    background-color: #CC6600; 
    display: inline-block;
}

.trait-row2 {
    margin: 8px 0px;
}

.content2 {x
    background-color: #CCCCCC;
}

.map-panel2 {
    display: inline-block;
    vertical-align: top;
    background-color: #CCCCFF;
}

.map-list2 {
    background-color:#0CF;
    height: 124px;
}

.map-config2 {
    background-color:#F0C;
}